<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animals</title>
  </head>
  <body>
    <h1>Animals</h1>

    <% for (var i=0, x=animals.length; i<x; i++) { %>

      <p>Name: <%= animals[i].name %></p>
      <p>Species: <%= animals[i].species %></p>
      <p>Breed: <%= animals[i].breed %></p>
      <p>Size: <%= animals[i].size %></p>
      <p>Age: <%= animals[i].age %></p>
<<<<<<< HEAD
      <p>Gender: <%= animals[i].gender %></p>
      <p>HairType: <%= animals[i].hairType %></p>
      <p>Family: <%= animals[i].family %></p>
      <p>Energy_Level: <%= animals[i].energyLevel %></p>
      <p>Training_Needs: <%= animals[i].trainingNeeds %></p>
      <p>Dependency: <%= animals[i].dependency %></p>
      <p>Hypoallergenic: <%= animals[i].hypoallergenic %></p>
=======
      <p>Gender: <%=animals[i].gender %></p>
      <p>Hairtype: <%= animals[i].hairType %></p>
      <p>Family: <%= animals[i].family %></p>
      <p>Energylevel: <%= animals[i].energyLevel %></p>
      <p>Training: <%= animals[i].trainingNeeds %></p>
      <p>Dependency: <%= animals[i].dependency %></p>
      <p>Hypoallergenic <%= animals[i].hypoallergenic %></p>
      <img src="<%= animals[i].imageUrl %>" />
      <p>Shelter: <%= animals[i].shelter %></p>
>>>>>>> 576ba66473d493a26b1af129aab00dcc7ce981ed
    <% } %>
  </body>
</html>
